/* universal style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body common style */
body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 80%;
    margin: 30px auto;
}

/*==================================
    Slider area start 
===================================*/
.slider-area {
    background-color: #161616;
    border-radius: 20px;
    display: flex;
    color: white;
    padding: 50px 50px 0 50px;
}

.slider-left-side {
    width: 60%;
    /* background-color: red; */
    padding-top: 70px;

}

.slider-left-side h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 70px;
}

.slider-left-side p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}

.slider-left-side button {
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    background-color: #DD0000;
}

.slider-left-side button a {
    padding: 8px 30px;
    text-decoration: none;
    display: inline-block;
    line-height: 20px;
    color: #ffffff;
}

.slider-left-side button a i {
    margin-left: 10px;
}

.slider-Right-side {
    width: 550px;
    height: 580px;
    /* background-color: aqua; */
}

.slider-Right-side img {
    width: 100%;
    height: 100%;
}

/*==================================
    Slider area end 
===================================*/

/*==================================
    Blog area start 
===================================*/

.blog-area {
    display: flex;
    margin-top: 80px;
}

.blog-left-side {
    background-color: #161616;
    border-radius: 10px;
    padding: 50px;
    height: 250px;
    margin-right: 20px;
}

.blog-left-side button {
    display: block;
    border: none;
    margin-bottom: 20px;
    border-radius: 5px;
}

.blog-left-side button:nth-child(2) {
    padding: 0px 22px;
}

.blog-left-side button:last-child {
    padding: 0px 35px;
    background-color: #DD0000;
    color: #ffffff;
}

.blog-left-side button:last-child a {
    color: #ffffff;
}

.blog-left-side button a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    color: black;

}

/* left side end */


.blog-right-side {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.single-blog {
    width: 263px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #A8A8A8;
    padding-bottom: 30px;
}

.single-blog img {
    width: 100%;

}

.single-blog button {
    border: 1px solid #A8A8A8;
    border-radius: 3px;
    margin: 10px 20px;
    background-color: #ffffff;
}

.single-blog button a {
    display: inline-block;
    text-decoration: none;
    color: #161616;
    padding: 5px 20px;
}

.single-blog p {
    font-size: 15px;
    font-weight: 500;
    margin-left: 20px;
    margin-bottom: 10px;
}

.time-ago {
    margin-left: 20px;
}

.time-ago i {
    margin-right: 5px;
    color: #A8A8A8;
}

.time-ago span {
    margin-right: 25px;
    color: #A8A8A8;
}

/*==================================
    Blog area end 
===================================*/
/*==================================
    Footer area start 
===================================*/

.bg-color {
    background-color: black;
    color: white;
    padding: 100px 0;
}

.footer-area {
    width: 80%;
    margin: auto;

}

.footer-area h3 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;

}

.footer-area hr {
    height: 0.5px;
    background-color: #161616;
    border: none;
    margin-bottom: 50px;
}

.footer-menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer-menu ul li {
    margin-left: 10px;
}

.footer-menu ul li a {
    text-decoration: none;
    color: #A8A8A8;
    padding: 10px 20px;
    display: inline-block;
    font-size: 13px;

}

.socal-media {
    display: none;
    text-align: center;
    margin-top: 30px;
}

.socal-media a {
    margin-right: 10px;
    font-size: 20px;
    color: #A8A8A8;
}

/*==================================
    Footer area end 
===================================*/

/* {{{{{{{{{{{{{{{{{{{{{{{{
    Tablet style 
}}}}}}}}}}}}}}}}}}}}}}}}}}*/

@media screen and (min-width:577px) and (max-width:992px) {

    /*..................................
        Slider area start 
    ....................................*/
    .slider-area {
        padding: 25px 0 0 48px;
    }

    .slider-left-side {
        width: 53%;
        padding-top: 32px;

    }

    .slider-left-side h1 {
        font-size: 32px;
        line-height: 36px;
    }

    .slider-left-side p {
        font-size: 12px;
        margin-top: 20px;
    }

    .slider-left-side button a i {
        margin-left: 10px;
    }

    .slider-Right-side {
        width: 250px;
        height: 280px;
    }

    /*.................................
        Slider area end 
    ..................................*/

    /*.....................................
        Blog area start 
    ......................................*/

    .blog-area {
        flex-direction: column;
        margin-top: 0;
    }

    /* left side start */
    .blog-left-side {
        display: flex;
        background-color: #ffffff;
        padding: 0;
        height: 60px;
        margin-right: 0;
        margin-top: 50px;
        margin-bottom: 30px;
        justify-content: space-between;
    }

    .blog-left-side button {
        margin-bottom: 0;
    }

    .blog-left-side button a {
        padding: 10px 25px;
        font-size: 20px;
    }

    /* left side end */

    /* Right side start */
    .blog-right-side {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .single-blog {
        width: 295px;
        height: 310px;
        margin-right: 0;
    }

    /* Right side end */

    /*....................................
        Blog area end 
    ....................................*/
    /*...................................
        Footer area start 
    .....................................*/

    .bg-color {
        padding: 30px 0;
    }


    .footer-area h3 {
        margin-bottom: 20px;

    }

    .footer-area hr {
        margin-bottom: 20px;
    }

    .footer-menu ul li {
        margin-left: 0;
    }

    .footer-menu ul li a {
        padding: 10px 10px;
    }

    /*...................................
        Footer area start 
    .....................................*/
}

/*[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[
    Mobile style 
]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]*/
@media screen and (max-width:576px) {

    /*******************************
        Slider area start 
     *******************************/
    .slider-area {
        padding: 25px 25px 0 25px;
        flex-direction: column;
    }

    .slider-left-side {
        width: 100%;
        padding-top: 25px;

    }

    .slider-left-side h1 {
        font-size: 25px;
        line-height: 35px;
        text-align: center;
    }

    .slider-left-side p {
        font-size: 12px;
        margin-top: 20px;
        text-align: center;

    }

    .center-button {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .slider-left-side button a {
        font-size: 17px;
    }

    .slider-Right-side {
        width: 262px;
        height: 280px;
        margin-left: 13px;
    }

    /*******************************
        Slider area end 
    *******************************/
    /******************************
        Blog area start 
     *****************************/
    .blog-area {
        flex-direction: column;
        margin-top: 0;
    }

    /* left side start */
    .blog-left-side {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        padding: 0;
        height: 175px;
        margin-right: 0;
        margin-top: 50px;
        margin-bottom: 30px;
        justify-content: space-between;
    }

    .blog-left-side button {
        margin-bottom: 0;
    }

    .blog-left-side button a {
        padding: 10px 25px;
        font-size: 20px;
    }

    /* left side end */

    /* Right side start */
    .blog-right-side {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .single-blog {
        width: 295px;
        height: 310px;
        margin: 0 0 20px 10px;
    }

    /******************************
        Blog area start 
    *****************************/
    /******************************
        Footer area start 
    *****************************/
    .bg-color {
        padding: 30px 0;
    }


    .footer-area h3 {
        margin-bottom: 20px;

    }

    .footer-area hr {
        margin-bottom: 20px;
    }

    .footer-menu ul {
        flex-direction: column;
        align-items: center;
    }

    .footer-menu ul li {
        margin-left: 0;
        width: 200px;
        text-align: center;
    }

    .footer-menu ul li a {
        padding: 10px 10px;

    }

    .socal-media {
        display: block;
        margin-top: 15px;
    }

    /******************************
        Footer area end 
    *****************************/
}

.match-update {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
}

.match-update img {
    width: 100px;
}

.match-update span {
    margin: 0 5px
}

.country-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

.country-name span:nth-child(2) {
    margin: 0 5px;
}

.date-time {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.date-time span {
    margin-right: 5px;
}